
.display-grid
{
    display: grid;
    margin: auto;
    width: 98%;
    gap: 5px;
    justify-content: center;
}

.display-vertically
{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
}


@media only screen and (max-width: 768px) {
    .display-grid
    {
        grid-template-columns: auto auto;
    }
  }


@media only screen and (min-width: 768px) and (max-width: 992px){
    .display-grid
    {
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (min-width: 992px){
    .display-grid
    {
        grid-template-columns: auto auto auto auto auto auto;
    }
}
