
nav
{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 auto;
    border-bottom: 1px solid gray;
  
}

ul
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

ul li
{
    list-style: none;
}


@media only screen and (max-width: 768px) {
    nav
    {
        padding: 7px 1% 0 0%;
    }
    .img-logo
    {
        margin:0;
        padding: 0;
    }

    .img-logo img
    {
        padding: 0 7px;
        height: 23px;
        width: auto;
    }

    li
    {
        width: 22px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    li img 
    {
        width: 18px;
        height: 18px;
    }
  }


@media only screen and (min-width: 768px) and (max-width: 992px){
    nav
    {
        padding: 15px 2% 0 2%;
    }

    ul li
    {
        width: 5vw;
    }
}

@media only screen and (min-width: 992px){
    nav
    {
        padding: 10px 8% 0 8%;
    }

    ul li
    {
        width: 5vw;
    }
}
