#photo-details
{
    width: 98%;
    margin: auto;
}

.photo-data
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title
{
    font-size: large;
}

.photo
{
    display: flex;
    justify-content: center;
}

.photo img
{
    width: auto;
    height: 70vh;
}
 
/* .photo img:hover 
{
   transform: scale(1.3);
} */